
.button {
    font-size: 200%;
    color: grey;
    cursor: pointer;
    margin: 3px;
    vertical-align:middle;
}

.suggestion_evaluation {
    width: 300px;
}

.buttons {
    
}

.smile_button {
}

.smile_button.selected {
    color: green;
}

.sad_button {
}

.sad_button.selected {
    color: red;
}

.question_button.selected {
    color: lightblue;
}

