
.evaluation-button {
    font-size: 200%;
    color: grey;
    cursor: pointer;
    margin: 3px;
    vertical-align:middle;
}

.suggestion_evaluation {
    width: 300px;
}

.suggestion_evaluation .buttons {
    float: right;
}

.suggestion_evaluation li {
    clear: both;
    height: 35px;
}
.suggestion_evaluation li span {
    vertical-align: middle;
}

.smile_button {
}

.smile_button.selected {
    color: green;
}

.sad_button {
}

.sad_button.selected {
    color: red;
}

.question_button.selected {
    color: #add8e6;
}
.meh_button.selected{
    color: orange;
}

.question{
    width: 200px;
    max-width: 200px;
    padding-bottom: 5px;
    margin-bottom: 5px;

}

.description {
    float: left;
    width: 236px;
}
.question.textfield{
    resize: none;
    max-width: 200px;
    height: 100px;
}